element.style {
display:none;
}

em {
    font-style: italic;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}

.bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}

.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]){
    width:220px;
}

.bootstrap-select.btn-group[class*=span] .btn, .bootstrap-select.form-control:not([class*=span]), .bootstrap-select>.btn {
    width: 100%;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}

.bootstrap-select.btn-group{
    padding: 0 !important;
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*=span]{
    float: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bootstrap-select.btn-group .btn .filter-option {
    overflow: hidden;
    position: absolute;
    left: 12px;
    right: 25px;
    text-align: left;
}

.bootstrap-select.btn-group .div-contain {
    overflow: hidden;
}

.bootstrap-select{
    width: 220px\9;
}

.bootstrap-select.btn-group .bootstrap-select-searchbox::before {
    content: "\f002";
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
    color: #9a9fa7;
}
.bootstrap-select.btn-group .bootstrap-select-searchbox::before,
.bootstrap-select.btn-group .option-icon.call::after,
.bootstrap-select.btn-group .option-icon.direction::after,
.bootstrap-select.btn-group.post-select .fb-photo::before,
.bootstrap-select.btn-group.post-select .fb-scheduled .txt::after,
.bootstrap-select.btn-group.post-select .fb-video::before {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}

.fancy-select.bootstrap-select .dropdown-toggle {
    border-color: #a6a6a6;
}

.bootstrap-select.btn-group .dropdown-toggle {
    font-size: 14px;
    color: #000;
}

.bootstrap-select.btn-group .dropdown-toggle {
    font-size: 14px;
    color: #000;
}

.fancy-select.bootstrap-select .dropdown-menu {
    font-size: 14px;
}
.bootstrap-select.btn-group .dropdown-menu {
    border-radius: 2px;
    text-shadow: none;
    overflow-x: hidden;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 200%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu>li {
    max-width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}
address, blockquote small, dd, dt, li, pre {
    line-height: 20px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.fancy-select.bootstrap-select .dropdown-menu>li.disabled {
    display: none!important;
}
.bootstrap-select.btn-group .dropdown-menu>li {
    max-width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}
address, blockquote small, dd, dt, li, pre {
    line-height: 20px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#subNav a {
    text-decoration: none;
}
.accounts-list .accounts-table input[disabled],
.fancy-select.bootstrap-select .dropdown-menu>li.disabled>a {
    cursor: default;
}
.bootstrap-select.btn-group .dropdown-menu>li.selected>a {
    color: #fff;
    background-color: #3B5998;
    text-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled>a,
.bootstrap-select.btn-group>.disabled {
    cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu .placeholder {
    font-style: normal;
    background: 0 0;
    color: inherit;
    cursor: default;
    opacity: .7;
}
.fancy-select.bootstrap-select .dropdown-menu>li>a.opt {
    padding-left: 20px;
}
.bootstrap-select.btn-group .dropdown-menu li>a.opt {
    position: relative;
    padding-left: 35px;
}
.fancy-select.bootstrap-select .dropdown-menu>li>a {
    text-overflow: inherit;
    line-height: normal;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    font-size: 13px;
}
.bootstrap-select.btn-group .dropdown-menu>li>a {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bootstrap-select.btn-group .dropdown-menu li>a {
    cursor: pointer;
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    color: #999;
}

.dropdown-menu>li>a {
    text-decoration: none;
}
.dropdown-menu>li>a {
    padding: 3px 20px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a, .dropdown-submenu:hover>.dropdown-menu, .open>.dropdown-menu {
    display: block;
}
.controls-row:after, .dropdown-menu>li>a,
.form-actions:after, .form-horizontal .control-group:after,
.modal-footer:after, .nav-pills:after, .nav-tabs:after,
.navbar-form:after, .navbar-inner:after, .pager:after, .thumbnails:after {
    clear: both;
}
a, a .icon, a [class*=" icon-"], a [class^=icon-], a::after, a::before {
    text-decoration: none;
}
a {
    color: #2b53a8;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    z-index: 2000;

}
.dropdown-menu, .external-rule-builder .field-action {
    min-width: 160px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}

.bootstrap-select.btn-group .bootstrap-select-searchbox {
    position: relative;
}
.bootstrap-select-searchbox {
    padding: 4px 8px;
}

.bootstrap-select.btn-group .dropdown-menu dt {
    display: block;
    padding: 3px 20px;
    cursor: default;
}
dt {
    font-weight: 700;
}
address, blockquote small, dd, dt, li, pre {
    line-height: 20px;
}
dt {
    display: block;
}

.pull-left {
    float: left;
}

div {
    display: block;
}

.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group .btn {
    outline: 0;
}


.bootstrap-select.btn-group[class*=span] .btn,
.bootstrap-select.form-control:not([class*=span]), .bootstrap-select>.btn {
    width: 100%;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}


.btn-group>.btn {
    border-radius: 0;
}
.btn-group>.btn, .btn-link {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn-group, .btn-group>.btn, .collapse, .dropdown-submenu, .navbar-search {
    position: relative;
}
.btn {
    box-shadow: 0 2px 0 rgba(204,204,204,.9), inset 0 1px 0 rgba(255,255,255,.3);
    text-decoration: none;
}
.btn, .btn-large, .btn-mini, .btn-small {
    border-radius: 3px;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}

#subNav{
    height:40px;
    background-color:#dfe6f3;
    border-bottom:1px solid #b3b3b3;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
    clear: both;
}

#subNav .content {
    overflow: visible;
    padding: 0;
}

#head #mainNav .content.collapse, #subNav .content {
    overflow: visible;
}

#mainNav .content, #subNav .content, .head-extra-bar .content,
.head-toolbar .content, .paginator, footer .content {
    width: 77.97619048%;
    clear: both;
    display: block;
    margin: auto;
    float: none;
    max-width: 1500px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

@media only screen and (max-width: 1490px){
    #subNav .content, .head-extra-bar .content, .head-toolbar .content,
    .paginator, footer .content{
        width: 100%;
        clear:both;
        display:block;
        margin: auto;
        float: none;
    }
}
#subNav .content .search:after {
    content: "";
    position: absolute;
    top: -11px;
    right: -35px;
    height: 40px;
    width: 40px;
}

#subNav .content .search{
    display: inline;
    position: relative;
    padding-left: 2px;
    margin-right: 25px;
}

#subNav .content .search .field, #subNav .content .search select {
    margin: 5px 5px 5px 0;
}

#cwgraph .highcharts-tooltip,
#frequencyBox .mini-chart .highcharts-container .highcharts-tooltip,
.editable-element .editable-actions, .loading-data.bootstrap-select .caret,
.split.partial:hover .text, div.highcharts-tooltip, select.selectpicker{
    visibility: hidden;
}

.cw-autocomplete-container, .uneditable-input, input[type=text],
input[type=password], input[type=datetime], input[type=datetime-local],
input[type=date], input[type=month], input[type=time], input[type=week],
input[type=number], input[type=email], input[type=url], input[type=tel],
input[type=color], input[type=search], select, textarea{
    font-size: 14px;
    border: 1px solid #9ea3aa;
    color: #000000;
    box-shadow: 0 0 0 3px rgba(255,255,255,.5);
}

select{
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;

}

input[type=file], select{
    height: 30px;
    line-height: 30px;
}

.uneditable-input, input[type=text], input[type=password],
input[type=datetime], input[type=datetime-local], input[type=date],
input[type=month], input[type=time], input[type=week],
input[type=number], input[type=email], input[type=url],
input[type=tel], input[type=color], input[type=search],
select, textarea {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #A8ACB3;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
}

input[type="button" ], input[type="submit" ], input[type="reset" ],
input[type="file" ]::-webkit-file-upload-button, button {

                        align-items: flex-start;
                        text-align: center;
                        cursor: default;
                        color: buttontext;
                        background-color: buttonface;
                        box-sizing: border-box;
                        padding: 2px 6px 3px;
                        border-width: 2px;
                        border-style: outset;
                        border-color: buttonface;
                        border-image: initial;
                    }


button, input, label, select, textarea{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

button {
    -webkit-appearance: button;
}

.navbar-search .search-query, button, input, select, textarea{
    font-family: Arial,Helvetica,sans-serif;
}

button, input[type=button], input[type=reset],
input[type=submit], input[type=radio], input[type=checkbox],
label, select{
    cursor:pointer;
}

button, html input[type=button], input[type=reset], input[type=submit]{
    -webkit-appearance: button;
    cursor: pointer;
}

button, input, select, textarea{
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

select:not(-internal-list-box){
    overflow: visible !important;
}

select, input[type="color" ][list] {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    margin: 0em;
    font: 11px system-ui;
    display: inline-block;
}

input, textarea, select, button, meter, progress {
-webkit-writing-mode: horizontal-tb;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}





option{
    front-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;


}

#cwgraph .highcharts-tooltip, #frequencyBox .mini-chart
.highcharts-container .highcharts-tooltip, .editable-element
.editable-actions, .loading-data.bootstrap-select .caret,
.split.partial:hover .text, div.highcharts-tooltip, select.selectpicker {

    font-size: 14px;
    border: 1px solid #9ea3aa;
    color:#000;
    box-shadow: 0 0 0 3px rgba(255,255,255,.5);
}

optgroup{
    display:block;
}

.btn-group{
    font-size:0;
    white-space: nowrap;
    display: inline;
    margin-left: 10px;
}

.btn-download-alt::before, .btn-group, .btn-save::before{
    margin-right: 10px;
}

.btn-group, .btn-group>.btn, .collapse, .dropdown-submenu, .navbar-search{
    position: relative;
}

.btn, .btn-group{
    vertical-align: middle;
}

.btn-group>.btn{
    border-radius: 0;
}

.btn-group>.btn, .btn-link{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.btn{
    box-shadow: 0 2px 0 rgba(204,204,204,.9),
    inset 0 1px 0 rgba(255,255,255,.3);
    text-decoration: none;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #fcfcfc;
    background-image: linear-gradient(to bottom, #fff, #f7f7f7);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.btn, .btn-large, .btn-mini, .btn-small{
    border-radius: 3px;

}

.btn, .btn-danger, .btn-info, .btn-inverse,
.btn-success, .btn-warning, .navbar-inner,
.navbar-inverse .btn-navbar, .navbar-inverse .navbar-inner,
.progress, .progress .bar, .progress .bar-danger,
.progress .bar-info, .progress .bar-success, .progress,
.bar-warning, .progress-danger .bar, .progress-info .bar,
.progress-success .bar, .progress-warning .bar{
    background-repeat: repeat-x;
}

.btn, .btn-group-vertical{
    display: inline-block;
}

.btn, .btn-link, button.close{
    cursor: pointer;
}

.btn, .btn-danger, .btn-info, .btn-inverse, .btn-success, .btn-warning{
    filter:
    progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn, .btn-group{
    vertical-align: middle;
}

.btn, .pagination-centered{
    text-align: center;
}

.btn .caret {
    margin-top: 8px;
    margin-left: 0;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

button, input, label, select, textarea{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.bootstrap-select.btn-group .bootstrap-select-searchbox input {
    padding-right: 1.8em;
    margin-bottom: 0;
    font-size: inherit;
}
.cw-autocomplete-container, .uneditable-input, input[type=text],
input[type=password], input[type=datetime], input[type=datetime-local],
input[type=date], input[type=month], input[type=time], input[type=week],
input[type=number], input[type=email], input[type=url], input[type=tel],
input[type=color], input[type=search], select, textarea {
    font-size: 14px;
    border: 1px solid #9ea3aa;
    color: #000;
    box-shadow: 0 0 0 3px rgba(255,255,255,.5);
}
.uneditable-input, input[type=text], input[type=password], input[type=datetime],
input[type=datetime-local], input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email], input[type=url],
input[type=tel], input[type=color], input[type=search], textarea {
    background-color: #fff;
    border: 1px solid #9ea3aa;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border linear .2s,box-shadow linear .2s;
}
.uneditable-input, input[type=text], input[type=password], input[type=datetime],
input[type=datetime-local], input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email], input[type=url],
input[type=tel], input[type=color], input[type=search], select, textarea {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #A8ACB3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}
@media (min-width: 1200px) {
    .uneditable-input, input, textarea {
        margin-left: 0;
    }

    .uneditable-input, input, textarea {
        margin-left: 0;
    }

    .uneditable-input, input, textarea {
        width: 206px;
    }

    button, input, label, select, textarea {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }


}



ul {
    list-style: none;
    margin: 0;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

body {
    background-color: #E9EAED;
    font-family: Arial,Helvetica,sans-serif;
    color: #373a3f;
    padding: 0;
    min-width: 300px;
    overflow: scroll;
    overflow-x: auto;
}
.head-box, .list-cat .list, body {
    text-shadow: 0 1px 0 #fff;
}
body {
    width: 100%;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}
.datepicker table, body {
    -webkit-touch-callout: none;
}
body {
    display: block;
    margin: 8px;
}

body {
    background-color: #E9EAED;
    font-family: Arial,Helvetica,sans-serif;
    color: #373a3f;
    padding: 0;
    min-width: 300px;
    overflow: scroll;
    overflow-x: auto;
}






















